@font-face {
    font-family: 'Material Symbols Rounded';
    src: url('./fonts/materialSymbols.woff2');

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.materialSymbol {
    font-family: 'Material Symbols Rounded';
}